<?php $_product = Mage::registry('current_product'); ?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<?php if ($_product->getTypeId() == 'bundle'): ?>
    <script type="text/javascript">
        var taxCalcMethod = "<?php echo Mage::helper('tax')->getConfig()->getAlgorithm($_product->getStore()) ?>";
        var CACL_UNIT_BASE = "<?php echo Mage_Tax_Model_Calculation::CALC_UNIT_BASE ?>";
        var CACL_ROW_BASE = "<?php echo Mage_Tax_Model_Calculation::CALC_ROW_BASE ?>";
        var CACL_TOTAL_BASE = "<?php echo Mage_Tax_Model_Calculation::CALC_TOTAL_BASE ?>";
        var bundle = new Product.Bundle(<?php echo $this->getJsonConfig() ?>);
    </script>
<?php endif; ?>

<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
      id="product_addtocart_form">
    <div class="no-display">
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
    </div>
    <?php if ($_product->isSaleable() && $_product->getTypeId() != 'group'): ?>
        <?php echo $this->getChildChildHtml('container1', '', true, true); ?>
    <?php endif; ?>
    <?php echo $this->getChildHtml('grouped.options') ?>
    <?php if ($_product->isSaleable() && $_product->getTypeId() == 'grouped'): ?>
        <?php echo $this->getChildHtml('addtocart') ?>
    <?php endif; ?>
</form>
<?php echo $this->getTierPriceHtml(); ?>
