<?php
/** @var $this Borey_News_Block_News */
$news = $this->getNewsCollection();
$newsViewUrl = Mage::getUrl('news');
?>
    <h1>News</h1>
<?php foreach ($news as $item): ?>
    <h2>
        <a href="<?php echo $newsViewUrl . $item->getLink(); ?>">
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>